appnope==0.1.0
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
Cython==0.27.3
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
fbprophet==0.2.1
Flask==0.12.3
Flask-Assets==0.12
Flask-HTTPAuth==3.2.3
Flask-SQLAlchemy==2.3.2
functions==0.7.0
html5lib==0.9999999
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.13.3
pandas==0.21.0
pandas-datareader==0.5.0
pandocfilters==1.4.2
parso==0.1.0
passlib==1.7.1
patsy==0.4.1
pexpect==4.3.0
pickleshare==0.7.4
plotly==2.2.1
prompt-toolkit==1.0.15
protobuf==3.5.0
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pystan==2.17.0.0
python-dateutil==2.6.1
pytz==2017.3
pyyaml==4.2b1
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.20.0
requests-file==1.4.2
requests-ftp==0.3.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.1.15
statsmodels==0.8.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.8.1
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webassets==0.12.1
Werkzeug==0.12.2
widgetsnbextension==3.0.8
