fbprophet==0.2.1
Flask==0.12.3
Flask-Assets==0.12
Flask-HTTPAuth==3.2.3
Flask-SQLAlchemy==2.3.2
Jinja2>=2.10.1
Keras==2.1.1
numpy==1.13.3
pandas==0.21.0
pyyaml==4.2b1
requests==2.20.0
scipy==1.0.0
tensorflow>=1.6.0
tensorflow-tensorboard==0.4.0rc3
urllib3>=1.24.2
