<!doctype html>
<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stock Price Prediction</title>
		<link rel="stylesheet" href="/spp/static/style.css">
	</head>
	<body>
		<div >
			<form action="/plot" method = "POST" enctype="multipart/form-data">
				<input type="text" name="companyname" placeholder="Enter the company symbol" class = "searchbox">
				<input type="submit" name="Search"  class="submit">
			</form>
			<a href="/" class = "homepage">Stock Price Prediction</a>
		</div>
	</body>
</html> -->

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/jquery.fancybox.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/star-style.css">
	<link rel="stylesheet" type="text/css" href="../static/form-static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/form-static/css/main.css">
    <!-- Javascript -->
    <script src="../static/js/jquery-1.11.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<!-- Body content -->
<body>
    <div class="clouds">
    <div class="row"></div>
    <div class="row">
        <div class="content">
            <center>
                <h1 class="tagline">J A R V I S</h1>
            </center>
        </div>
    </div>
    <center>
        <div class="row2">
            <form class="contact1-form validate-form" action="/plot" method="POST" enctype="multipart/form-data">
                <div class="wrap-input1 validate-input" data-validate="Company TICKER is required">
                    <input  autocomplete="off" class="input1" type="text" name="ticker" id="ticker" placeholder="Company TICKER Here!">
                    <span class="shadow-input1"></span>
                </div>
                <div class="container-contact1-form-btn">
                    <button class="contact1-form-btn">
                        <span>Start<i class="" aria-hidden="true"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </center>
    </div>
</body>
</html>

<!-- JavaScript -->
<script src="../static/form-static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/form-static/vendor/bootstrap/js/popper.js"></script>
<script src="../static/form-static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/form-static/vendor/select2/select2.min.js"></script>
<script src="../static/form-static/vendor/tilt/tilt.jquery.min.js"></script>
<script >
	$('.js-tilt').tilt({
		scale: 1.1
	})

function formHandler(){
	// event handler to handle the name field
	var nameField = document.getElementById("username");
	nameField.onfocus = function(){
		if(nameField.placeholder == "Your Name"){
			nameField.placeholder = "";
		}
	};
	nameField.onblur = function(){
		if(nameField.placeholder == ""){
			nameField.placeholder = "Your Name";
		}
	};
}
// call fucntion after the window has loaded
window.onload = function(){
	formHandler();
}
</script>
<script src="../static/js/main.js"></script>