<!doctype html>
<html ang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<!-- Body content -->
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h2 class="white_text">{{ticker}} |  {{sector}} | {{country}} | {{website}}</h2>
			</div>
			<div class="col-sm-2">
				<br>
				<a href="http://localhost:5555/" class="btn btn-lg btn-success">New Forecast</a>
			</div>
		</div>
		<div class="row">
			<div class="blank100">
				<!-- Blank Space -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<p>
					<strong>
						About Organization
					</strong>
				</p>
				<h4 class="white_text">{{summary}}</h4>
			</div>			
			<div class="col-sm-1">
			</div>
		</div>
		<div class="row">
			<div class="blank100">
				<!-- Blank Space -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					<strong>
						Train History
					</strong>
				</p>
				<h2 class="white_text">{{min_date}} -> {{max_date}}</h2>
			</div>
			<div class="col-sm-2">
				<p>
					<Strong>
						Forecast Date
					</Strong>
				</p>
				<h2 class="white_text">
					{{forecast_date}}
				</h2>
			</div>
			<div class="col-sm-2">
				<p>
					<Strong>
						Forecast (Closing Price)
					</Strong>
				</p>
				<h2 class="white_text">
					{{forecast}}
				</h2>
			</div>
			<div class="col-sm-2">
				<p>
					<Strong>
						Uncertainity
					</Strong>
				</p>
				<span class="green_text">+</span>
				<span class="red_text">-</span>
				<span class="blue_text">{{bound}}</span>
			</div>
		</div>
		
		<div class="row">
			<div class="blank100">
				<!-- Blank Space -->
			</div>
		</div>
		<div class="row footer">
			<center>Nityan Suman (Email: nityan.suman@gmail.com | Github: @nityansuman)</center>
		</div>
	</div>
</body>
</html>