body {
    background-size: cover;
    font-family: "Roboto";
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: "Roboto";
    background-image: url("../images/header.jpg")
}

.body2 {
    background-size: cover;
    font-family: "Roboto";
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: "Roboto";
    background-image: url("../images/form_header.jpg")
}

.body3 {
    width: 100%;
    font-family: "Roboto";
    background: #13547a;
    background: linear-gradient(to top, #13547a 0%, #80d0c7 100%);  
} 
.row {
    height: 33.33%;
    width: 100%;
}
.row2 {
    height: 33.33%;
    width: 60%;
}
.col{
    float: left;
    width: 50%;
}
.head-space2{
    padding-right: 50px;
    color: white;
}
.head-space{
    padding: 50px;
    color: white;
}
/*rgba(255, 255, 255, 0.5);*/
.content {
    color: black;
    background-color: transparent;
}
.tagline {
    font-family: "Monoton";
    font-size: 60px;
    color: white;
}
.quote {
    font-family: "Guci";
    font-size: 50px;
    color: white;
}
.clock{
    color: white;
    align-content: right;
    font-family: "DancingF"
}
.left-side{
    padding-left: 80%;
    font-family: "Roboto";
}
.prompt{
    color:black;
    font-size: 20px;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto_Mono/RobotoMono-Light.ttf")
}
@font-face{
    font-family: "Guci";
    src: url("../fonts/Gugi/Gugi-Regular.ttf")
}
@font-face{
    font-family: "DancingF";
    src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf")
}
@font-face{
    font-family: "Monoton";
    src: url("../fonts/Monoton/Monoton-Regular.ttf")
}
@font-face{
    font-family: "PressStart";
    src: url("../fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf")
}